.anyClass {
  height: 70vh;
  overflow-y: scroll;
}

.Toastify__close-button{
  display: none;
}

.list-group-item:hover{
  cursor: pointer;
  background-color: cornsilk;
}

body{
  margin-top: 2%;
  margin-bottom: 2%;
}

.map{
  opacity: 0;
  height: 300px;
}

.showMap{
  opacity : 1 !important;
  height: 301px;
}